.games-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fafafa;
	transition: background-image 0.3s ease;
	margin-top: 100px;
	padding: 100vh;
}

.games-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;
	width: 100%;
	max-width: 1200px;
}
