.button {
	border-radius: 6px;
	padding: 8px 30px;
	font-family: 'Matt Trial';
	cursor: pointer;
	transition:
		background 0.25s,
		font-size 0.25s;
	font-size: 16px;
	border: none;
	background-color: transparent;
}

.button:hover {
	font-size: 18px;
}
